@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    vertical-align: baseline;
    color: white;
}
header {
    /*background: url("../images/Home/navbackground.png") no-repeat;
    background-size: cover;
    background-position:center ;*/
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px;
/*
    
    background: url(../images/Home/navbackground.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;*/
}
nav ul {
    gap: 20px;
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav a{
    font-weight: bold;
    font-display: block;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    color:white;
    transition: color 0.5s ease ;
}
nav a:hover{
    color: black;
    text-decoration: underline solid 2px;
}
nav a.active{
    color: black;
    text-decoration: underline solid 2px;
    transition: 1 text-decoration 0.3;
    font-weight: bold;
}

/*
.hero-background{
    background: url(../images/Home/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
}
    */

.uni-background{
    background: url("../images/Home/background.png");
}
section{
   /* background: url("../images/Home/Background.png") no-repeat;
    background-size: cover;
    background-position: center;*/
    position: relative;
}
.hero {
    
    display: flex;
    justify-content: space-between;  
    padding: 80px;
    position: relative;
   
    /*background: url(../images/Home/Background.png) no-repeat;
    background-size: cover;
    background-position: center;*/
}


.search-box{
    display: flex;
    background-color: transparent;
    border-radius: 3px;
    border:1px solid white ;
    border-radius: 1.2ch;
    align-items: center;
}
.sbox-content{
    margin-left: 17px;
}
.search-box input{
    background-color: transparent;
    color: white;
    padding: 16px;
}
input:focus{
    border:none;
    outline: none;
}
.search-box input::placeholder{
    color: white;
}
.hero-content .tagline{
    display: inline-block;
    text-transform: uppercase;
    background: #72a687;
    font-weight: 500;
    margin: 20px;
    padding: 8px 16px;
    border: 2px solid rgb(0, 232, 108) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    width: 270px;
    transition: background-color 0.4s ease, padding 0.4s ease;

}
.tagline:hover{
    background-color: #1a4e2e ;
    border: 2px solid rgb(247, 253, 250) ;
    padding: 10px 20px;
    transition: all 0.4s ease;
    transform: scale(1.1);
}
.hero-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 70px;
    margin: 22px;
    padding-top:25px ;
}

.hero-content .buttons {
    margin-top: 30px;
    margin-bottom: 50px;
}

h1 {
    display: inline-block;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 30px;
}
.tgl-p {
    margin-top: 0px;
    line-height:24px;
    margin-bottom: 14px;
}
.first-btn i{
    background-color: white;
    color:rgb(253, 126, 90) ;
    border-radius: 50%;
    padding-right:4px;
    padding-top:4px ;
    padding-bottom: 4px;
    padding-left: 1.5px;
    transform: scale(1);
    transition: all 0.4s;
}
.first-btn:hover{
    background-color: rgb(194, 73, 39);
    transform: translate(14px, 28px), scale(1.4)  ;
    transition: all 0.4s ease;
}
.first-btn{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 23px;
    background-color: rgb(253, 126, 90);
    transition: all 0.4s ease;
}
.second-btn {
    padding: 10px 20px;
    margin-top: 39px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 23px;
    transition:all 0.4s ease;
}
.second-btn:hover{
    background-color: rgb(83, 167, 83);
    transition:all 0.4s ease;
}

.H-img {
    margin-top: 29px;
    display: flex;
    width: 500px;
    right: 10%;
    position: absolute;
    top:20%;
    
} 
.icon{
    font-size: 40px;
    padding: 20px 20px;
    background-color: rgb(136, 220, 136);
    border-radius: 17px;
}
.hours{
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction: column;
    line-height:2.7;
}
.open-hours {
  display: flex;              
  gap: 16px;                    
  align-items: center;           
  padding: 14px 18px;           
  border-radius: 12px;         
  width: fit-content;           
}
/*
.appointment-form .doctor, .appointment-form .time, .appointment-form button{
    left: 10%;
    background: white;
    border:3px ;
    bottom: 0;
}
.appointment{
    display:inline;
}
    */
.appointment-form{
    position: absolute;
    background-color: white;
    right: 15%;
    border-radius: 12px;
    bottom: -2%;
    width:430px ;
    height: 230px; 
}
.appointment-content{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 80px;
}
.appointment-form .doctor .type{
    position: absolute;
    border: 0.1px solid rgb(168, 187, 198);
    padding: 10px;
    border-radius: 5px;
    left: 9%;
    top: 20px;
    width: 160px;
    
}
select{
    width: 80%;
}
select:focus{
    border: none;
    outline: none;
}

.appointment-form .time .date{
    position: absolute;
    border: 0.1px solid rgb(168, 187, 198);
    padding: 10px;
    border-radius: 5px;
    left: 9%;
    top: 78px;
    width: 160px;
}
.appointment-form .time .time-2{
    position: absolute;
    border: 0.1px solid rgb(168, 187, 198);
    padding: 10px;
    border-radius: 5px;
    right: 9%;
    top: 78px;
    width: 160px;
}
.appointment-form .doctor .name{
    position: absolute;
    border: 0.1px solid rgb(168, 187, 198);
    padding: 10px;
    border-radius: 5px;
    right: 9%;
    top: 20px;
    width: 160px;
   
}
.appointment-form .time select{
    color:#1a4e2e;
}
.appointment-form .doctor select{
    color:#1a4e2e;
}
.appointment-form .checking{
    position: absolute;
    bottom: 5px;
    right: 30%;
    text-align: center;
    background-color: rgb(253, 126, 90);
    padding: 10px;
    text-decoration: none;
    border-radius:23px ;
    padding: 14px;
}

.appointment-form .doctor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.companies{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding:70px;
    scale: 0.8;
    gap: 80px;
}
.divider-line {
  height: 2px;
  background-color: #120f0f;
  margin: 10px 0; 
}
.about-us{
    
    margin: 10px;
    border-radius:23px ;
    position: relative;
    background: url("../images/About/background.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.about-content{
    display: flex;
    flex-direction: row;
    padding:30px;
    gap: 60px;
}
.first-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.mask{
    top: 20px;
    scale: 0.8;
}
.vid-cover{
    height:50%;
    width: 250px;
    border-radius: 30px;
    margin-left: 60px;
}

.about-p{
    color: rgb(41, 97, 202);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 30px;
    line-height: 60px;
}
.about-tag{
    display: inline-block;
    text-transform: uppercase;
    background: #3ae47e;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid rgb(76, 173, 121) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    width: fit-content;
    transition: background-color 0.4s ease, padding 0.4s ease;
}
.exp{
    position: absolute;
    display: inline-block;
    text-transform: capitalize;
    background: rgb(136, 220, 136);
    font-weight: 500;
    width: 100px;
    height: 100px;
    align-items: center;
    padding: 20px;
    border-radius: 14px 14px 14px 0px ;
    font-size: 20px;
    width: fit-content;
    bottom: 22%;
    left: 24%;
    transition: all 0.4s ease;
    transform: translateY(-20px);
}
.exp.exp:hover{
    transform: translateY(-40px);
    background-color: darkgreen;
    box-shadow: 5px 10px 1Opx rgb(0, 0, 0,0.2);
}
.play{
    position: absolute;
    scale: 0.9;
    bottom: 7%;
    left: 8%;
}
.about-p-2{
    color:black;
    width: 430px;
    padding-bottom: 47px;
}
.about-p-3{
    color:black;
    width: 430px;
}
.saying-tag{
    margin-bottom: 0;
    color:rgb(73, 73, 234);
    width: 430px;
    opacity: 0.6;
    padding-top: 4px;
}
.border-saying{
    border: 1.5px solid rgb(212, 120, 120);
    border-radius: 18px;
    padding: 45px;
    gap:20px;
}
.saying-part{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.dr-flash{
    transform: scaleX(1.6);
    transform: scale(0.7);
}
.director-say{
    position: absolute;
    margin-right: 60%;
    bottom: 0;
}
.second-section{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 90px;
}
.s-setion{
    position: absolute;
    bottom: 120px;
}
.face-icons{
    position: absolute;
    width: fit-content;
    bottom: 180px;
    z-index: 89;
    right: 470px;
}
.more-about .button{
    /*color: rgb(255, 248, 248);
    text-decoration: none;
    text-transform: capitalize;
    line-height: 4px;
    width: fit-content;
    */
    position: absolute;
    bottom: 10%;
    right: 20%;
    text-align: center;
    background-color: rgb(253, 126, 90);
    padding: 10px;
    text-decoration: none;
    border-radius:23px ;
    padding: 29p;
    
}
.fa-arrow-right{
    color: rgb(223, 87, 87);
    background-color: white;

}
.more-about{
    background-color: rgb(223, 87, 87);
    width: fit-content;
    font-size: large;
}
.round-it{
    color: rgb(223, 87, 87); 
    background-color: white;              
    padding: 4px;             
    border-radius: 50%;        
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 13px;
}
.stat-box {
  text-align: center;
}
.statistic {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: #fff; 
}
.stats-box h2 {
  font-size: 60px;
  color: #2196f3; 
  font-weight: 700;
  margin-bottom: 8px;
}
.stats-box p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
.services {
    background: url("../images/Services/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 1150px;
    border-radius: 23px;
    margin: 5px;
}
.services-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}
.m-s{
    text-decoration: none;
}
.m-p{
    text-decoration: none;
}
.card {
    display: inline;
    text-align: left;
    background: white;
    border-radius: 23px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: fit-content;
    transition: all 0.3s ease;
    transform: translateY(-20px);
}
.services-content{
    margin: 40px;
    padding: 30px;
}
.our-services{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #3ae47e;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid rgb(76, 173, 121) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    left: 0;
    top: 0;
    width: fit-content;
    transition: background-color 0.4s ease, padding 0.4s ease;
}
.services-p-1{
    color: rgb(41, 97, 202);
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 60px;
}
.services-p-2{
   
    margin-top: 30px;
    color:black;
    width: 430px;
    height: fit-content;
    text-align: right;
    line-height: 1.7em;
}
.services-top{
   
    display: flex;
    justify-content: space-around;
}
.card h1{
    color: rgb(89, 89, 234);
    text-transform: capitalize;
    font-weight: 540;
}
.card p{
    color: black;
    width: 240px;
}
.n-serv{
    display :flex ;
    gap: 80px;
}
.card:hover{
    transform: translateZ(-40px);
    transition: all 0.3s ease;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
.n-serv .nbr{
    transform: scale(0.8);
    width: fit-content;
}
.services-bottom{
    display: flex;
    align-items: center;
    padding: 13px 20px;
    text-transform: capitalize;
    background-color:rgb(223, 87, 87) ;
    justify-content: center;
    width: fit-content;
    margin-left: 40.5%;
    border-radius: 60px;
    transition: all 0.3s ease;
}
.services-bottom:hover{
    background-color: rgb(78, 31, 31);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.round-servc{
    color: rgb(223, 87, 87); 
    background-color: white;              
    padding: 4px;             
    border-radius: 50%;        
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    width: 50%;

}
.xplore{
    display: inline-block;
    width: 170px;
    padding:13px 30px;
    padding-right:30px;
    border: 1px solid red;
    margin-top:20px ;
    justify-content: center;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.xplore:hover{
    background-color: #aea8a8;
    transition: all 0.3s ease;
}
.doctors-section{
    background-color: white;
    height: 1470px;
}

.doctors-content h1{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3ae47e;
    font-weight: 500;
    top: 0px;
    padding: 8px 16px;
    border: 2px solid rgb(76, 173, 121) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    transition: background-color 0.4s ease, padding 0.4s ease;
}
.pg-ttl{
    width: fit-content;
    margin-left: 460px;
}
.doctors-content .up-p{
    color: rgb(89, 89, 234);
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 60px;
}
.doctors-content{
    background-color: white;
    position: relative;
    gap: 70px;
    margin: 100px;
}
.drs-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
}
.card-2{
    transform: scale(0.6);
    display: inline;
    margin-top: 70px;
    text-align: left;
    background: rgb(252, 243, 243);
    border-radius: 23px;
    gap: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    transform: translateY(-20px);
}
.card-2:hover{
    transform: translateY(-40px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-2 h5{
    color: rgb(89, 89, 234);
    text-align: center;
    font-weight: 700;
    font-size: larger;
    padding: 20px;
    opacity: 0.9;
    text-transform: capitalize;
}
.card-2 p{
    color: rgb(90, 87, 87);
    font-weight: 200;
    font-size:15px;
    line-height: 30px;
    width: 300px;
    text-transform: none;
    text-align: center;
    padding-left:30px ;
    text-transform: capitalize;
}
.card-2 h6{
    padding: 10px;
    color: green;
    text-align: center;
    font-size: large;
    font-weight: 300;
}
.round-drs{
    color: rgb(223, 87, 87); 
    background-color: white;              
    padding: 4px;             
    border-radius: 50%;        
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 13px;
}
.drs-button-container{
    position: relative;
}
.btm-p{
    display: flex;
    align-items: center;
    padding: 13px 20px;
    text-transform: capitalize;
    background-color:rgb(231, 81, 39) ;
    justify-content: center;
    width: fit-content;
    margin-left: 40.5%;
    border-radius: 60px;
    transition: all 0.3s ease;
}
.second-section-container {
    background: url("../images/doctors/background-app.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    margin: 20px;
    height: 485px;
    border-radius: 23px;
}
.nd-section-content{
    display: block;
}
.nd-section-content h2{
    line-height: 50px;
    font-size: 40px;
}
.nd-section-content p{
    width: 450px;
    padding-top: 30px;
}
.apn-btn-container{
    padding-top: 80px;
    position: relative;
}
.nd-section-content a{
    position: absolute;
    text-decoration: none;
    background-color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;
    padding-right: 13px;
    border-radius: 30px;
    color: rgb(94, 94, 240);
    text-transform: capitalize;
    font-weight:lighter;
    left: 0%;
    transition: all 0.3s ease;
}
.nd-section-content a:hover{
    color: white;
    background-color: #5d4c4c;
    transform: scale(1.04);
}
.drs-btn{ 
    background-color: rgb(22, 121, 243);              
    padding-top: 8px;   
    transform: scale(0.7);
    padding-bottom: 8px ;   
    padding-left:8px ;   
    padding-right:25px ;   
    color: white;          
    border-radius: 50%;        
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    width: 50%;
}
.pricing-container{
    margin: 90px;
}
.pricing-logo{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #3ae47e;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid rgb(76, 173, 121) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    left: 0;
    top: 0;
    width: fit-content;
    transition: background-color 0.4s ease, padding 0.4s ease;
}
.pricing-header{
    display: flex;
    justify-content: space-between;
}
.pricing-header .pricing-top{
    color: rgb(89, 89, 234);
    font-size: 50px;
    font-weight: 600 ;
    opacity: 0.9;
    padding-top: 30px;
    padding-bottom:30px ;
}
.pricing-header .pricing-p{
    margin-top: 30px;
    color:black;
    width: 430px;
    height: fit-content;
    text-align: right;
    line-height: 1.7em;
   
}
.pricing-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-top: 35px;
}
.cards-3{
    color: black;
}
.div-line{
    height: 1px;
    background-color: #120f0f;
    margin: 10px 2px;
    opacity:0.5;
}
.card-3{
    display: inline;
    text-align: left;
    background: white;
    border:1px solid rgb(219, 208, 208);
    border-radius: 23px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: fit-content;
    transition: all 0.3s ease;
    transform: translateY(-20px);
}
.card-3:hover{
    transform: translateY(-40px);
    box-shadow:5px 10px 10px #c4c2c2;
    background-color: rgb(255, 255, 102);
}
.card-3 h2{
    color: rgb(70, 70, 160);
    font-family:'IBM Plex Sans',sans-serif;
    padding-bottom: 15px;
}
.card-3 .pricing-p{
    color: rgb(35, 32, 32);
}
.card-3 .price{
    color: blue;
    opacity: 0.5;
    font-weight: 700;
    font-size: 50px;
    font-family:'IBM Plex Sans',sans-serif;
}
.card-3 .slash{

    color: black;
    padding-top: 25px;
    font-size:30px ;
    opacity: 0.6;
}
.p-part{
    position: relative;
    display: flex;
}
.features {
    display: inline;
}
.features h5{
    color: blue;
    text-transform: capitalize;
    opacity: 0.7;
    font-size: 25px;
    font-weight: 520;
    padding-top: 13px;
}
.features ul li{
    color: black;
    padding-top: 13px;
    list-style: none;
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}
.features ul{
    padding-bottom: 30px;
}
.fa-circle-check{
    color: rgb(86, 165, 86);
    padding-right: 30px;
}
.pricing-btm-btn{
    display: inline;
    text-align: center;
}
.pricing-btm-btn a{
    color: red;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.pricing-btm-btn .s-more-f{
    color: red;
    text-transform: capitalize;
    border-radius: 60px;
    border: 1px solid red;
}
.fa-chevron-down{
    color: red;
    transform: scale(0.7);
    padding-left: 30px;
}
.pricing-btm-btn .or{
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.pricing-btm-btn .s-plan{
    color: white;
    padding-top: 15px;
    background-color: rgb(225, 109, 96);
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 60px;
    text-transform: capitalize;
    border-radius: 60px;
    border: 1px solid red;
}
.fa-arrow-up-right-from-square{
    color: white;
    transform: scale(0.7);
    padding-left: 30px;
}
.recommended{
    display: flex;
}
.recommended p{
    color: blue;
    opacity: 0.4;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 7px;
    padding-left: 4px;
}
.third-choice{
    display: flex;
}
.third-choice .fa-circle-check{
    padding-top: 20px;
}
.features li p{
    color: black;
    line-height: 30px;
}
.more-pricing{
    position: relative;
}
.m-p-container{
    position: relative;
}
.m-p-container{
    display: flex;
}
.m-p-container .fa-arrow-right{

    background-color: rgb(255, 255, 255);              
    
    transform: scale(1);
    border-radius: 20px;
    color: rgb(232, 55, 55);          
    padding-top: 2px;
    margin-left: 10px;
}
.m-p-container .m-p{
    position: absolute;
    display: flex;
    background-color: rgb(232, 55, 55);
    color: white;
    width: fit-content;
    text-transform: capitalize;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    left: 550px;
    bottom: 20px;

}
.contact{
    background: url("../images/Contact/background.png") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.contact-content{
    
    background-color:white ;
    border-radius: 30px;
    margin-top: 50px;
    padding: 30px;
}
.contact-header h4{
    text-decoration: none;
    text-transform: uppercase;
    background: #3ae47e;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid rgb(76, 173, 121) ;
    border-radius: 14px 14px 0px 14px;
    font-size: 14px;
    width: fit-content;
    transition: background-color 0.4s ease, padding 0.4s ease;
}
.contact-header p{
    color: rgb(89, 89, 234);
    font-size: 40px;
    font-weight: 600 ;
    opacity: 0.9;
    padding-top: 30px;
    padding-bottom:30px ;

}
.user-info{
    display: flex;
    justify-content: space-between;
}
.left-section{
    display: inline;
}
.user-info h3{
    color :black;
    padding-bottom: 7px;
}
.left-section .u-name{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
}
.forum select{
    width: 100%;
}
.left-section h3{
    padding-top:30px ;
}
.forum h3{
    padding-top:30px ;
    color: black;
    padding-bottom: 7px;
}
.left-section .d-type{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
    display: flex;
}
.left-section .u-date{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
}
.right-section .d-name{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
}
.right-section .u-time{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
}
.left-section select{
    color :black;
    
}
.right-section select{
    color :black;
    right: 4%;
}
.right-section {
    display: inline;
}
.right-section .email{
    border: 1px solid black;
    padding: 20px;
    width:500px;
    border-radius: 15px;
}
.description{
    border: 1px solid black;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-top: 20px;
    width:1105px;
    border-radius: 15px;
}
.send-btn{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.send-btn a{
    text-decoration: none;
    background-color:rgb(232, 55, 55);
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}
.send-btn .send{
    background-color:rgb(232, 55, 55) ;
    color: white;
    padding-left: 10px;

}
